@import url('https://fonts.googleapis.com/css2?family=Ojuju:wght@200;400;500;700&display=swap');

h1 {
    font-family: 'Ojuju', sans-serif;
    font-weight: 100; 
    font-size: 5rem; 
    color: rgb(188, 201, 214);  
  }
  
  .delete-icon {
    cursor: pointer;
    color: red;
    font-weight: bold;
    margin-left: 10px;
    transition: opacity 0.3s ease;
}

.delete-icon:hover {
    opacity: 0.7;
}
